<div id="myCarousel" class="carousel slide">
  <div class="span6 offset1 fixed10">
    <fieldset>
      <!-- <legend>Free Money</legend> -->
      <%= render :partial => "static_carousel" %>
    </fieldset>
  </div>
</div>
<div class="row">
  <div class="span6 offset1">
    <fieldset id="" class=""> <legend></legend> </fieldset> <!-- SEPARATOR -->
    <!-- BODY -->
    <p> <%= t ".fe_landing_1", default: "<b>Y</b>ou are buying in this market because you want to get a good deal.  To get a good deal, you cannot remain in the dark about what you are really paying.  That’s where we can help.<br>We show you how to buy, step by step. &nbsp;How to know who the professional you are talking to is really working for. &nbsp; Questions you must ask. &nbsp;Insider tips. &nbsp;Hacks. &nbsp;Rebates<br><br>Our promise: &nbsp;If you make a real estate purchase following our process in the next 12 months and we cannot save you at least $1000 you get two times your money back.<br><br>Be smart. &nbsp;Be informed. &nbsp;Be feeWISE." %> </p>
  </div>
</div>
