<!-- <div id="sidebar"> -->
<!--   <div class="sb-item"> -->
<!--     < %= image_tag "badge-guaranteed.jpg", class: "floatRight" %> -->
<!--     < %= t ".fe_main_sidebar", default: "<h3>The FeeWise Pledge</h3><p>If the experience using your FeeWise ever lets you down, we'll make it right or refund your purchase. Simple as that.</p><br /><h3>We're Here for You</h3><p>If you want to talk to someone, call us at 917-720-4242. Also, check out our FAQ for answers to some questions.</p>" %> -->
<!--   </div> -->
<!-- </div> -->
