  <div id="offer-share">
    <div class="label"><strong>Share:</strong></div>
    <%= link_to image_tag("offer-icon-facebook.gif", {title: "Like us on Facebook", alt: "Facebook", class: "social-icons"} ), "http://www.facebook.com/feeWISE" %>
    <%= link_to image_tag("offer-icon-twitter.gif",  title: "Follow us on Twitter", alt: "Twitter", class: "social-icons"), "http://twitter.com/feewise" %>
  </div>
