<%= display_heading :heading_text => 'About Us' %>
<!-- BEGIN CONTENT ####################-->
<div id="content" style="">
  <div id="content-body">
    <%= render :partial => "static_pages/generic_sidebar" %>
    <div class="one-col"><!-- --></div>
    <div class="five-col">

      <%= t ".fe_about_us", default: "<p>We know that completing a real estate transaction can be confusing, more expensive than you anticipated, and sometimes even amazingly frustrating&#8212;and that&rsquo;s when you get it right!</p>

<p>We understand and share your frustrations, and it&rsquo;s the driving force behind why we develop feeWISE.</p>

<p>We are an entrepreneurial team that came from backgrounds in the real estate, design, and tech worlds that is tired of the business-as-usual tactics in the real estate industry. We are passionate about delivering you the know-how, savings, and the satisfaction of helping you navigate through a convoluted system to ultimately have it work for your benefit&#8212;not the other way around.</p>

<p>Customer first&#8212;the way it should be. That&rsquo;s feeWISE.</p>" %>

    </div>
  </div>
  <br class="clearBoth" />
</div>
<!-- END CONTENT ####################-->
