<%= display_heading :heading_text => 'Careers' %>
<!-- BEGIN CONTENT ####################-->
<div id="content" style="">
  <div id="content-body">
    <!-- < %= render :partial => "static_pages/career_sidebar" %> -->
    <div class="one-col"><!-- --></div>
    <div class="five-col">

      <%= t ".fe_careers", default: "Finding the best is very hard. Is that you?" %>

    </div>
  </div>
  <br class="clearBoth" />
</div>
<!-- END CONTENT ####################-->
