<%= display_heading :heading_text => 'U.S. Department of Housing and Urban Development' %>
<!-- BEGIN CONTENT ####################-->
<div id="content" style="">
  <div id="content-body">
    <div class="one-col"><!-- --></div>
    <div class="nine-col">

      <div id="mainContent" >
	<%= image_tag "fair-housing_img_0.jpg", :title => "fair-housing",  :align =>"right" %>

	<div style="text-align: center; margin-bottom: 20px;">
	  <%= image_tag "fair-housing_img_1.jpg", :title => "fair-housing",  :align =>"right", :width=>193, :height=>159 %>
	</div>

	<P style="font-size: 20px; font-weight:bold">EQUAL HOUSING OPPORTUNITY</P>
	<P style="margin-bottom:6px; line-height:21px"><SPAN style="font-size:18pt;">We Do Business in Accordance With the Federal Fair Housing Law </SPAN></P>

	<P style="margin-bottom:72px">(The Fair Housing Amendments Act of 1988)</P>
	<P style="margin-bottom: 20px; font-size:30pt;line-height: 44px;padding: 20px; border: 8px solid #111;font-weight: bold;">It is illegal to Discriminate Against Any Person   Because of Race, Color, Religion, Sex, Handicap, Familial Status, or National Origin</P>

	<P style="margin-top: 20px; clear: both">&nbsp;</P>

	<ul  style="font-size:18pt; font-weight:normal;">
	  <li style="float: left; width: 420px; margin-right: 40px; line-height: 25px; margin-bottom: 10px;">In the sale or rental of housing or residential lots </li>
	  <li style="float: left; width: 420px; margin-right: 40px; line-height: 25px; margin-bottom: 10px;">In the provision of real estate </li>
	  <li style="float: left; width: 420px; margin-right: 40px; line-height: 25px; margin-bottom: 10px;">brokerage services  </li>
	  <li style="float: left; width: 420px; margin-right: 40px; line-height: 25px; margin-bottom: 10px;">In advertising the sale or rental of housing </li>
	  <li style="float: left; width: 420px; margin-right: 40px; line-height: 25px; margin-bottom: 10px;">In the appraisal of housing </li>
	  <li style="float: left; width: 420px; margin-right: 40px; line-height: 25px; margin-bottom: 10px;">Blockbusting is also illegal </li>
	</ul>

	<P style="margin-top: 20px; clear: both">&nbsp;</P>

	<div style="padding: 20px 0px; border-top: 10px solid #ccc; margin-top: 20px">
	  <span style="text-align:left;margin-top: 20px;margin-bottom:0px; width: 400px; margin-right:40px; float: left">
	    <SPAN style="font-size:13pt;line-height: 20px;">
	      Anyone who feels he or she has been discriminated against may file a complaint of housing discrimination:
	      <br /><span style="font-weight: bold">1-800-669-9777 (Toll Free) 1-800-927-9275 (TTY) </span>
	    </SPAN>
	  </span>
	  
	  <span style="text-align:left; margin-top: 20px;margin-bottom:0px;font-size:13pt;line-height: 20px;width: 400px; float: left">
	    U.S. Department of Housing and Urban Development Assistant Secretary for Fair Housing and Equal Opportunity Washington, D.C. 20410
	  </span>
	</div>


	<br clear="all" />

	<div style="padding:  20px 0px; border-top: 10px solid #ccc; margin-top: 20px; clear:both">

	  <P style="clear:both"><a href="http://portal.hud.gov/hudportal/HUD?src=/program_offices/fair_housing_equal_opp">
	      Office of Fair Housing and Equal Opportunity Website</a>
	    <SPAN style="font-size:9pt; font-weight:normal;">Previous editions are obsolete form HUD-928.1 (2/2003)
	    </SPAN>
	</div>
      </div>
    </div>
    <!-- End: content -->

  </div>
</div>
<!-- </div> -->
<!-- END CONTENT ####################-->
