<%= display_heading :heading_text => 'How It Works' %>
<!-- BEGIN CONTENT ####################-->
<div id="content" style="">
  <div id="content-body">
    <%= render :partial => "static_pages/generic_sidebar" %>
    <div class="one-col"><!-- --></div>
    <div class="five-col">
      <%= t ".fe_how_it_works", default: "<p><strong>Our program provides knowledge and guidance that is designed to put money back into your pocket. The bottom line is that we do NOT increase the cost of your future home by $0.01&#8212;all the while you gain education, expertise, and more notably, cash back from feeWISE when you complete the transaction for your property.</strong></p><h3>STEP 1</h3><p>Sign up for our program, and tell us a few simple details about your future home</strong> (ie. When to Purchase, Location, Price Range, etc.).</p><h3>STEP2</h3><p><strong>By understanding your preference, we help match the right real estate professionals that fit your particular goals.</strong></p><h3>STEP 3</h3><p><strong>When your deal is complete, your agent pays us a referral fee in which we will split the commission 50-50 with you.*</strong></p><p><em>* Please note that our referral rebate offer is valid only on real estate transactions in Arizona, Arkansas, California, Colorado, Connecticut, Delaware, Florida, Georgia, Hawaii, Idaho, Illinois, Indiana, Kentucky, Maine, Maryland, Massachusetts, Michigan, Minnesota, Montana, Nebraska, Nevada, New Hampshire, New Jersey, New Mexico, New York, North Carolina, North Dakota, Ohio, Pennsylvania, Rhode Island, South Carolina, South Dakota, Texas, Utah, Vermont, Virginia, Washington, West Virginia, Wisconsin, and Wyoming.</em></p>" %>
    </div>
  </div>
  <br class="clearBoth" />
</div>
<!-- END CONTENT ####################-->
