<%= display_heading :heading_text => 'Investors' %>
<!-- BEGIN CONTENT ####################-->
<div id="content" style="">
  <div id="content-body">
    <div id="sidebar">

      <div class="sb-item">
        <%= t ".fe_investors_sidebar", default: "Integer sed arcu non magna sodales aliquet. Curabitur vitae enim non nibh blandit sagittis. Sed eros est, vehicula a condimentum quis, ultricies rhoncus justo." %>
      </div>

    </div>
    <div class="one-col"><!-- --></div>
    <div class="five-col">

      <%= t ".fe_investors", default: "<p>FeeWISE can save home buyers hundreds of millions - and make a tidy profit doing so. Our parent company will do even more: the impact may be worth 5% of GDP.</p>

<p>Do not make another investment without talking to us first!</p>" %>

    </div>
  </div>
  <br class="clearBoth" />
</div>
<!-- END CONTENT ####################-->
