<%= display_heading :heading_text => 'Partners' %>
<!-- BEGIN CONTENT ####################-->
<div id="content" style="">
  <div id="content-body">
    <div id="sidebar">

      <div class="sb-item">
        <%= t ".fe_partner_sidebar", default: "&#147;In choosing a partner, always pick the optimist.&#148; &#8211; Tony Lema" %>
      </div>


      <!-- <div class="sb-item"> -->
      <!--   <h3>Partner Sidebar Header</h3> -->
      <!--   <p>Integer sed arcu non magna sodales aliquet. Curabitur vitae enim non nibh blandit sagittis. Sed eros est, vehicula a condimentum quis, ultricies rhoncus justo.</p> -->
      <!-- </div> -->
      <!-- <div class="sb-item"> -->
      <!--   <h3>Partner Sidebar Header2</h3> -->
      <!--   <p>Vivamus accumsan, tellus ut feugiat feugiat, odio nunc euismod dui, at imperdiet dolor leo ac leo. Nulla facilisi. Donec faucibus euismod dui ac imperdiet.</p> -->
      <!-- </div> -->


    </div>
    <div class="one-col"><!-- --></div>
    <div class="five-col">

      <%= t ".fe_partners", default: "<p>We are seeking partnerships in the brokerage, lending, settlement services, property insurance, and relayed ancillary services sectors who are aligned with our promise of putting the customer first</p>
	  
	  <p>If that is your organization, then lets talk.</p>" %>

    </div>
  </div>
  <br class="clearBoth" />
</div>
<!-- END CONTENT ####################-->
