<%= display_heading :heading_text => 'Privacy Policy' %>
<!-- BEGIN CONTENT ####################-->
<div id="content" style="">
  <div id="content-body">
    <%= render :partial => "static_pages/generic_sidebar" %>
    <div class="one-col"><!-- --></div>
    <div class="five-col">

      <%= t ".fe_privacy_policy", default: "Ut faucibus, arcu non venenatis lacinia, arcu nisi fermentum magna, et laoreet neque mauris et neque. Integer pellentesque egestas felis, sit amet tempus libero placerat vel. Duis varius magna ac ante hendrerit adipiscing." %>

    </div>
  </div>
  <br class="clearBoth" />
</div>
<!-- END CONTENT ####################-->
