
<%= display_heading :heading_text => 'Order Details' %>

<!-- BEGIN CONTENT ####################-->
<div id="content" style="">
  <div id="content-body">
    <form action="property-details.html">
      <div class="one-col"><!-- --></div>
      <div class="ten-col">
        <div class="return-margin-large">xxx</div>

        <br class="clearBoth" />
        <h1 class="floatLeft">Account Information</h1><div class="h1-alt"><img src="im/sm-icon-lock.jpg" hspace="4" alt="Secured" /></div>
      </div>
      <div class="one-col"><!-- --></div>
      <%= render :partial => "static_pages/generic_sidebar" %>

      <div class="five-col" style="">
        <h2>Personal Information</h2>
      </div>
      <br class="clearBoth" />
      <div class="one-col"><!-- --></div>
      <div class="ten-col" style="">
        <h2>Billing Information</h2>

        <div class="btn-submit"><input type="submit" name="" value="" id="btn-completeOrder" /></div>
        <br class="clearBoth" />
        <div class="margin-before-sm smTxt">By clicking Complete Order I accept the <a href="">Terms of Conditions</a> and <a href="privacy-policy.html">Privacy Policy</a>.</div>
      </div>
    </form>
  </div>
  <br class="clearBoth" />
</div>
<!-- END CONTENT ####################-->
