


<!-- <p id="notice"><%= notice %></p> -->
<!-- <p> -->
<!--   <b>Placeholder:</b> -->
<!-- < %= @static_page.placeholder %> -->
<!-- <h1>You are trying to show.html.erb a Static Page.  This is a bug in transation from design version of feewise to rails version</h1> -->
<!-- </p> -->
