
<%= display_heading :heading_text => 'Sign In' %>
<!-- BEGIN CONTENT ####################-->
<div id="content" style="">
  <div id="content-body">
    <%= render :partial => "static_pages/generic_sidebar" %>
    <div class="one-col"><!-- --></div>
    <div class="five-col">
      <form action="account.html">
        <div><label>Email</label></div>
        <div class="input-div"><input size="40" type="text" name="" class="input-text" /></div>

        <div><label>Password</label></div>
        <div class="input-div"><input size="40" type="password" name="" class="input-text" /><div><a href="" class="smTxt">Forgot your password?</a></div></div>
        <div class="btn-submit"><input type="submit" name="" value="" id="btn-signIn" /></div>
        <div class="btn-altLink"><a href="sign_up.html" class="smTxt">Not yet a member?</a></div>
      </form>
    </div>
  </div>
  <br class="clearBoth" />
</div>
<!-- END CONTENT ####################-->
