<%= display_heading :heading_text => 'Terms of Use' %>
<!-- BEGIN CONTENT ####################-->
<div id="content" style="">
  <div id="content-body">
    <%= render :partial => "static_pages/generic_sidebar" %>
    <div class="one-col"><!-- --></div>
    <div class="five-col">

    <%= t ".fe_terms_of_use", default: "Vivamus accumsan, tellus ut feugiat feugiat, odio nunc euismod dui, at imperdiet dolor leo ac leo. Nulla facilisi. Donec faucibus euismod dui ac imperdiet. Integer sed arcu non magna sodales aliquet. Curabitur vitae enim non nibh blandit sagittis. Sed eros est, vehicula a condimentum quis, ultricies rhoncus justo. Praesent non ornare neque." %>

    </div>
  </div>
  <br class="clearBoth" />
</div>
<!-- END CONTENT ####################-->
