<%= display_heading :heading_text => 'Thank You!' %>

<!-- < %= render :partial => "static_pages/generic_sidebar" %> -->

<%= t ".fe_thank_you_1", default: "Your order was successfully processed." %>
<%= t ".fe_thank_you_2", default: "Congratulations on taking your first step towards saving a boatload on your next home. Meanwhile, feel free to shout out at the top of your lungs, and share with your friends on what an amazing deal you just scored!" %>

<br /><br />

<!-- <p> -->
<!--   <a href="http://www.facebook.com/feeWISE" target="_blank"> -->
<!--     <img src="/assets/lg-icon-facebook.jpg" title="Like us on Facebook" alt="Facebook" class="social-icons" /></a> -->
<!--   <a href="http://twitter.com/feewise" target="_blank"> -->
<!--     <img src="/assets/lg-icon-twitter.jpg" title="Follow us on Twitter" alt="Twitter" class="social-icons" /></a> -->
<!-- </p> -->



<br />
<p>
  <%= link_to 'Continue', account_path(current_user.account), :class => "btn btn-primary btn-large" %> Click Continue and start working through the Checklist.  
</p>
<br />

<script type="text/javascript">
  _kmq.push(['record', 'Conversion']);
</script>



<!-- Your order was successfully processed. We look forward to helping you -->
<!-- achieve and save on your real estate goals.  -->

<!-- The next step is to talk with one of our Experts to guide you in building your team. -->

<!-- Please let us know the best times to have one of our team building professionals contact you. -->




<!-- Expect a welcome call from us! Congratulations on taking your first step towards being a smarter -->
<!-- savvier home buyer.  -->


<!-- We look forward to helping you save.  -->



<!-- Meanwhile, please let those you know who also want to buy soon know about -->
<!-- feeWISE! -->
