
<%= display_heading :heading_text => 'Why feeWISE' %>
<!-- BEGIN CONTENT ####################-->
<div id="content" style="">
  <div id="content-body">
    <%= render :partial => "static_pages/generic_sidebar" %>

    <div class="one-col"><!-- --></div>
    <div class="five-col">

      <%= t ".fe_why_feewise", default: "<p><strong>Why feeWISE? Because the fees are too d@mn high. And the consequences can be an enormous cost to you!</strong></p><p>Our approach is simple, we simply put you&#8212;the customers first&#8212;ahead of the commissions. Plenty of home buyers received less than completely honest advice, because certain professionals prey upon your confusion with the complexity of the real estate market. That's why feeWISE is here. We believe that home-buying should be simpler, less stressful, and cheaper for buyers and sellers. We measure our success not by our bottom line, but by how much we save and put back into your pocket.</p>" %>

    </div>
  </div>
  <br class="clearBoth" />
</div>
<!-- END CONTENT ####################-->
