<div id="pageHead">
  <div id="title-area">
    <div id="title-content">
      <h1>Account Information</h1>

      <div id="existingAccountLogin">
        <strong>Already Have an Account?</strong>

        <%= link_to image_tag("btn_signIn_existing.gif"), new_user_session_path %>

      </div>

    </div>
  </div>
</div>
