<div id="pageHead">
  <div id="title-area">
    <div id="title-content">

      <h1>Sign Up</h1>

      <div id="h1-altLink">
        or

        <%= link_to 'Sign In', new_user_session_path %>
      </div>

    </div>
  </div>
</div>
