<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>

  <body>

    <!-- customer signup confirmation -->

    <h1> A potential customer has either sent us email or requested to be on the feewise mailing list.  Please Check on admin for more info</h1>
    <p>
      In admin check subscriptions and contact_feewise for the email the customer provided.
      <%= @email %>.<br/>
    </p>
    <p>
      To login to admin site, just follow this link: <%= @url %>.
    </p>
    <p>Thanks for checking on our customer and have a great day!</p>
  </body>
</html>
