<!-- <h1>New contact_feewise</h1> -->
<!-- < %= render 'form' %> -->
<!-- < %= link_to 'Back', contact_feewises_path %> -->

<%= display_heading :heading_text => 'Email Us' %>

<!-- BEGIN CONTENT ####################-->
<div id="content" style="">
  <div id="content-body">
    <!-- < %= render :partial => "static_pages/generic_sidebar" %> -->
    <div class="one-col"><!-- --></div>
    <div class="five-col">
      <!-- <p> < %= t ".fe_email_us_message", default: "Tell us what you think and be entered into a chance for a bottle of bubbly" %> </p> -->

      <%= render 'form' %>

    </div>
  </div>
  <br class="clearBoth" />
</div>
<!-- END CONTENT ####################-->
