      <!-- BEGIN PAGE-HEAD ####################-->
      <div id="pageHead">
        <div id="title-area">
          <div id="title-content"><h1>You are now logged into the feeWISE Network</h1></div>
        </div>
      </div>
      <!-- END PAGE-HEAD ####################-->

      <!-- BEGIN CONTENT ####################-->
      <div id="content" style="">
        <div id="content-body">
          <%= render :partial => "static_pages/generic_sidebar" %>
          <div class="one-col"><!-- --></div>
          <div class="five-col">

            Welcome:  <%= current_user.full_name %> <br /><br />

            <p> <%= t ".fe_agents", default: "The Welcome to the new customer" %> </p>

          </div>
        </div>
        <br class="clearBoth" />
      </div>
      <!-- END CONTENT ####################-->
