<style type="text/css" media="screen">
  .ui-helper-reset {
  font-size: 110%;
  }
  .ui-state-default a, .ui-state-default a:link, .ui-state-default a:visited {
  color: #9543B6;
  }
  .ui-state-active a, .ui-state-active a:link, .ui-state-active a:visited {
  color: #9543B6;
  }
</style>


  <div class='well'>

    <div class="jqui_accordion">
      <h3><a href="#"> What is feeWISE?</a></h3>
      <div>

        <p> FeeWISE is your guide to being a more savvy home buyer and/or seller.<br />
          What you don't know can cost you.  Fortunately, what you do know can save you a bundle.</p>
      </div>

      <h3><a href="#"> How does it work?</a></h3>
      <div>

        <p>We take you through the process step-by-step.</p>
        We teach you how to think about each aspect of the process an easy and understandable way. <br />
        Complex topics are broken down into short email courses.<br /><br />
        <p>We can connect you to anyone you need.</p>
      </div>

      <h3><a href="#">How You Save</a></h3>
      <div>

        <p>We explain:</p>
        <ul>
          <li> the garbage fees you can avoid</li>
          <li> Other money saving strategies used by the pros</li>
        </ul>
        <p>We show you how to determine:</p>
        <ul>
          <li>What professionals you need, and in what circumstances</li>
          <li>How to pick your providers - and keep them accountable</li>
        </ul>
      </div>

      <h3><a href="#">Get Paid by Us</a></h3>
      <div>

        <p> Complete a transaction following our process from start to finish and get a check from us.<br />
          Best of all, you will know exactly how we - and you - did it.</p>
      </div>

      <h3><a href="#">Getting Started is Easy</a></h3>
      <div>

        <p>Answer some basic questions.<br />
          If you have any, ask us.</p>
      </div>

      <h3><a href="#">Be feeWISE Now</a></h3>
      <div>

        <p>If you are serious about getting yourself the best possible outcome, then feeWISE was made for you.</p>
        <p>When you are all done, you can be proud of yourself for being far more savvy than most.</p>
        <p>Not satisfied? Just let us know and we will refund your membership fee. So there's no risk.<br />
          In fact, the risk you're already taking is going down. You will have a better sense what is happening.</p>
        <br />
      </div>
    </div> <!-- .jqui_accordion -->

  </div>















<!-- < %= display_heading :heading_text => 'The Team' %> -->
<!-- <\!-- BEGIN CONTENT ####################-\-> -->
<!-- <div id="content" style=""> -->
<!--   <div id="content-body"> -->
<!--     <\!-- < %= render :partial => "static_pages/generic_sidebar" %> -\-> -->
<!--     <div class="one-col"><\!-- -\-></div> -->
<!--     <div class="five-col"> -->

<!--     < %= t ".fe_the_team", default: "All about the people standing behind you." %> -->

<!--     </div> -->
<!--   </div> -->
<!--   <br class="clearBoth" /> -->
<!-- </div> -->
<!-- <\!-- END CONTENT ####################-\-> -->
