          <div class='well'>
            <%= t ".fe_mailing_list_box", default: "Not Ready to get started? <br /> Sign up for tips and tricks you can use! <br /><br />" %>
            <%= render :partial => "static_pages/mailing_list" %> <!-- MAILING LIST -->
          </div>
